<div class="bg-white rounded-xl border border-gray-100 shadow-sm overflow-hidden">
  <p-table
    [value]="data"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showFirstLastIcon]="false"
    currentPageReportTemplate="{first}-{last} of {totalRecords}"
    paginatorTemplate="RowsPerPageDropdown CurrentPageReport PrevPageLink NextPageLink"
    styleClass="staff-table"
    [sortMode]="'multiple'"
    responsiveLayout="scroll"
    rowHover="true"
  >
    <ng-template pTemplate="paginatorright">
      <div class="flex items-center gap-2">
        <span class="text-sm text-gray-500">Rows per page:</span>
        <p-select
          [options]="[5, 10, 25, 50]"
          [(ngModel)]="rows"
          (onChange)="onRowsChange($event.value)"
        ></p-select>
      </div>
    </ng-template>

    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        @for (col of columns; track col.field) {
          @if (col.sortable) {
            <th [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon [field]="col.field" />
            </th>
          } @else {
            <th>{{ col.header }}</th>
          }
        }
        @if (actions.length) {
          <th class="text-right">Action</th>
        }
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-row>
      <tr class="'cursor-pointer hover:bg-gray-50 transition': clickableRows,">
        @for (col of columns; track col.field) {
          <td>
            @if (col.type === 'avatar') {
              <div class="flex items-center justify-center gap-2.5">
                <!-- IMAGE -->
                @if (col.imageField && row[col.imageField]) {
                  <img
                    [src]="row[col.imageField]"
                    class="w-12 h-12 rounded object-cover ring-2 ring-gray-100"
                  />
                } @else {
                  <div class="w-10 h-10 rounded bg-gray-100 flex items-center justify-center">
                    <i class="pi pi-image text-gray-400"></i>
                  </div>
                }

                <!-- TEXT (ONLY if different field like name/avatar case) -->
                @if (col.field !== col.imageField) {
                  <span class="text-sm font-medium text-gray-800">
                    {{ row[col.field] }}
                  </span>
                }
              </div>
            } @else if (col.type === 'text') {
              <span class="text-sm text-gray-500">{{ row[col.field] }}</span>
            } @else if (col.type === 'tag') {
              <p-tag [value]="row[col.field]" [severity]="getTagSeverity(row[col.field])" />
            } @else if (col.type === 'date') {
              <span class="text-sm text-gray-500">
                {{ row[col.field] | date: 'dd MMM yyyy' }}
              </span>
            } @else if (col.type === 'color') {
              <!-- COLOR -->
              <div class="flex items-center gap-2">
                <span class="w-5 h-5 rounded border" [style.background]="row[col.field]"></span>
                <span>{{ row[col.field] }}</span>
              </div>
            } @else {
              {{ row[col.field] }}
            }
          </td>
        }

        <!-- ACTIONS -->

        @if (actions.length) {
          <td>
            <div class="flex items-center justify-center gap-0.5">
              <!-- VIEW -->
              <!-- @if (actions.includes('view')) {
                <button
                  pButton
                  pRipple
                  icon="pi pi-eye"
                  class="p-button-text p-button-rounded"
                  (click)="$event.stopPropagation(); onView(row)"
                  pTooltip="View"
                ></button>
              } -->

              <!-- EDIT -->
              @if (actions.includes('edit')) {
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-text p-button-rounded action-btn-edit"
                  (click)="$event.stopPropagation(); onEdit(row)"
                  pTooltip="Edit"
                ></button>
              }

              <!-- DELETE -->
              @if (actions.includes('delete')) {
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-text p-button-rounded action-btn-delete"
                  (click)="$event.stopPropagation(); onDelete(row)"
                  pTooltip="Delete"
                ></button>
              }
            </div>
          </td>
        }
      </tr>
    </ng-template>

    <!-- EMPTY -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center py-16 text-gray-400">
          <div class="flex gap-3 items-center justify-center">
            <i class="pi pi-inbox text-3xl! text-gray-200"></i>
            <span class="text-sm">No data found.</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
